body{
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;

}
header{
    background-color: pink;
    text-align: center;
    padding: 2em;
}
main{
    background-color: blue;
    text-align: center;
    padding: 2em;
}
footer{
    background-color: yellow;
    text-align: center;
    padding: 2em;
}